@import "src/@fuse/scss/fuse";
.header-with-language {
    display: flex;
    align-items: center;
    margin: 1em 0;
    h2 {
        margin: 0 0 0 0.5em;
        &::before {
            margin-right: 0.5em;
            content: "|";
        }
    }
    img {
        width: 1.5em;
    }
}
#profile {
    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint("sm") {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #ffffff;

            @include media-breakpoint("sm") {
                margin-bottom: 32px;
            }
        }

        .actions {
            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}
.template-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
form {
    section {
        padding: 0 1em;
        display: block !important;
    }
    .section-info_group {
        overflow: auto;
    }
}
#content {
    display: contents !important;
    .mat-tab-nav-bar {
        height: fit-content;
    }
}
.boxed {
    border: 1px solid black;
}
.btn-actions {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    right: -1em;
    justify-content: space-around;
    top: 4em;
}
.photo-content {
    margin-bottom: 2em;
    overflow: auto;
    .photo-img {
        text-align: center;
        height: 20em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        button {
            position: absolute;
            right: 3em;
            min-width: 3em;
            padding: 0;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .photo-btns {
        text-align: center;
        margin: 1em 0;
    }
}
.info-group-title {
    margin: 0 0 1em 0;
    &::before {
        margin-right: 0.5em;
        content: "|";
    }
}
mat-form-field {
    width: 100%;
}
.btn-save {
    background: #222 !important;
    color: white !important;
    &:hover {
        background: white !important;
        color: #222 !important;
    }
}
.info-element-header {
    display: flex;
    h2 {
        width: 100%;
    }
    button {
        min-width: 3em;
        padding: 0;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
