<p-dialog [visible]="true" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [closable]="false">
    <ng-template pTemplate="header">
        <div class="header">
            <div class="header-title">
                <mat-icon>accessibility_new</mat-icon>
                <h2>Novo Utilizador</h2>
            </div>

            <mat-icon (click)="close()" class="icon-action">indeterminate_check_box</mat-icon>
        </div>
    </ng-template>
    <form [formGroup]="userForm">
        <div class="p-grid">
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Firstname (*)</label>
                    <input type="text" formControlName="firstName">
                </div>
            </div>
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Lastname (*)</label>
                    <input type="text" formControlName="lastName">
                </div>
            </div>
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Email (*)</label>
                    <input type="text" formControlName="email">
                </div>
            </div>
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Password (*)</label>
                    <input type="password" formControlName="password">
                </div>
            </div>
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Roles (*)</label>
                    <p-multiSelect appendTo="body" [options]="adminService.allRoles | async" formControlName="roles"
                        defaultLabel="Select a Role" optionLabel="name" dataKey="id"></p-multiSelect>
                </div>
            </div>
            <div class="p-col-4">
                <div class="forms-element">
                    <label>Client</label>
                    <p-dropdown appendTo="body" [options]="adminService.allClients | async" formControlName="client"
                        placeholder="Select a Client" optionLabel="name" [showClear]="true" dataKey="id"
                        [filter]="true"></p-dropdown>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button type="button" class="btn-action" (click)="createUser()" [ngClass]="{'disabled' : !userForm.valid}">
            <span>Criar</span>
        </button>
    </ng-template>
</p-dialog>