@import "src/@fuse/scss/fuse";

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;

    .card {
        display: flex;
        align-items: flex-start;
        padding: 24px 24px 48px 24px;
        margin-bottom: 96px;

        .card-preview {
            display: flex;
            min-width: 320px;
        }

        .card-source {
            display: none;
        }
    }
}

.content.source {
    .cards {
        flex-direction: column;

        .card {
            width: 100%;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .card-source {
                background: #263238;
                display: flex !important;
                flex: 1;
                max-height: 400px;
                min-width: 400px;
                margin-left: 24px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}
.page-layout {
    display: block;
    .top-bg {
        position: relative;
        width: 100%;
        padding: 3em;
        h2 {
            position: absolute;
            top: 35%;
        }
        .actions {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1em 0;
            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }
}
.mat-button-base {
    display: flex;
    padding: 0.5em 1em !important;
    align-items: center;
    mat-icon {
        margin-right: 0.5em !important;
    }
}
a:hover {
    text-decoration: none !important;
}
