// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import "./generics.scss";

body.theme-default .accent {
    background-color: #222222 !important;
}
profile-about {
    .profile-box {
        header {
            .title {
                mat-icon {
                    color: white !important;
                }
            }
        }
    }
}

.p-tabview-nav-link {
    border: none !important;
    border-bottom: 1px solid !important;
    box-shadow: none !important;
    span {
        font-size: 1.3em;
    }
}
p-dialog {
    p-header {
        h2 {
            margin: 0;
            padding-left: 0.2em;
            color: black;
        }
    }
}
